body{
    background-image: url('https://images.pexels.com/photos/3872349/pexels-photo-3872349.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    
}
.EnterLossdata{
    text-align: center;
    padding: 30px;
}
h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #023047;
    width: 100%;
    height: 50px;
    color: #FFFFFF;
    margin-top:0px;
    font-size: 3em;
}
h3{
    text-align: center;
    color: #FFFFFF;
    margin-top: 150px;
    font-size: 2em;
 }
 .Lossdata{
    display: inline-block;
    width: 300px;
    color: #000000;
    border-radius: 5px;
    background-color: #D9D9D9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 4px;
}
.CalculateLoss{
    padding: 5px 10px;
    margin-top: 5px;
    width: 100px;
    background-color: #219EBC;
    border: 5px;
    height: 29px;
    color: #FFFFFF;
    border-radius: 5px;
}

.next-stepLoss{
    text-align: center;
    padding: 30px;
}
.nextLoss{
    padding: 5px 10px;
    width: 100px;
    background-color: #219EBC;
    border: 5px;
    height: 29px;
    color: #FFFFFF;
    border-radius: 5px;
}
 #massLoss{
    padding: 5px 10px;
    width: 60px;
    background-color: #219EBC;
    border: 5px;
    border-radius: 5px;
    height: 29px;
    color: #FFFFFF;
}
#heightLoss{
    padding: 5px 10px;
    width: 60px;
    background-color: #219EBC;
    border: 5px;
    border-radius: 5px;
    height: 29px;
    color: #FFFFFF;
}
.Display_BMILoss{
    text-align: center;

}
.Text_BMILoss{
    display: inline-block;
    width: 300px;
    color: #FFFFFF;
    background-color: #344e41;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 4px;
    border-radius: 5px;

}

.Tips {
    text-align: center;
    color: #000000;
    border-radius: 5px;
    background-color: #D9D9D9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 530px;
}