body {
    background-image: url('https://images.pexels.com/photos/3756042/pexels-photo-3756042.jpeg?cs=srgb&dl=pexels-andrea-piacquadio-3756042.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    margin: 0%;
    }
h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #023047;
    width: 100%;
    height: 50px;
    color: #FFFFFF;
    margin-top:0px;
    font-size: 3em;
    }
h3{
    text-align: center;
    color: #FFFFFF;
    margin-top: 150px;
    font-size: 2em;
    }
h4{
    text-align: center;
    color: #FFFFFF;
    font-size: 1.5em;
    }
.Selectoption{
    text-align: center;
    margin-top: 50px;
}
.Lose{
    width: 180px;
    height: 35px;

}
.Gain{
    width: 180px;
    height: 35px;

}