body {
    background-image: url('https://images.pexels.com/photos/3756042/pexels-photo-3756042.jpeg?cs=srgb&dl=pexels-andrea-piacquadio-3756042.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    margin: 0%;
    }